<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            .container {
                background-color: aliceblue;
                color: black;
                margin: auto;
                width: 50%;
                padding: 1rem;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1 data-th-text ="${name}">This is Home page</h1>
            <p> Github link : <a data-th-href = "${Github_repo}">click here</a></p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
                dolorum cum velit sequi quos consectetur ut culpa, labore
                molestiae sint iure ab impedit adipisci voluptas et perspiciatis
                tenetur quod iusto.
            </p>
            <aside>This page is Created bye Aman Bisht</aside>
        </div>
    </body>
</html>
